<h2>Contact us...</h2>

<form #form="ngForm" (submit)="sendMessage(form)" novalidate>
    <div class="form-group" [class.has-error]="msgSubject.invalid && msgSubject.touched">
        <label for="subject" class="control-label">Subject</label>
        <input type="text" required ngModel #msgSubject="ngModel" 
        name="subject" class="form-control" id="subject" placeholder="subject">

        <!-- <div *ngIf="msgSubject.invalid && msgSubject.touched">missing subject</div> -->
    </div>

    <div class="form-group" [class.has-error]="msgContent.invalid && msgContent.touched">
        <label for="message" class="control-label">Message</label>
        <textarea type="text" required ngModel #msgContent="ngModel" 
        name="message" class="form-control" id="message" placeholder="message">
        </textarea>
    </div>

    <div class="form-group">
        <label for="service" >Service</label>
        <select ngModel name="service" id="service" class="form-control">
            <option value="tech">Technique</option>
            <option value="sales">Commercial</option>
            <option value="guide">Guide montagne</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
</form>

Form : {{ form.valid | json }}